{% extends 'base.html' %}
{% block main %}
<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Library</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
							<li data-filter="*">All</li>
							{% for genre in genres %}
                            <li data-filter=".{{ genre.name }}">{{genre.name}}</li>
							{% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

			<div class="row product-lists">
				{% for book in books %}
				<div class="col-lg-4 col-md-6 text-center strawberry {{ book.genre.name }}">
					<div class="single-product-item">
						<div class="product-image">
							<a href="single-product.html"><img src="assets/img/products/product-img-1.jpg" alt=""></a>
						</div>
						<p class="product-price"><span>Name</span> {{ book.name }} </p>
						<p class="product-price"><span>Author</span> {{ book.author }} </p>
						<p class="product-price"><span>Genre</span> {{ book.genre.name }} </p>
						<a href={% url 'single_book' book.book_id %} class="cart-btn"><i class="fas fa-shopping-cart"></i> Go to book </a>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
	<!-- end products -->
{% endblock %}
